# Example environment file for Budget Buddy App
# Copy this to `.env` and fill in real values.


FLASK_PORT=5000
SECRET_KEY=your-secret-key-here

# Flask settings

FLASK_APP=app.py
FLASK_ENV=development

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net
MONGO_DBNAME=budget_db
