[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
click = "*"
flask = "*"
flask-debugtoolbar = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
pymongo = "*"
python-dotenv = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.12"
